/*******************************************/
/*******************************************/
/*/ MAIN /*/
/*******************************************/
/*******************************************/

/*** CSS ***/

/** * **/

//@extend-elements
//original selectors
//html, body
%extend_1 {
	background: #e4e4e4;
	height: 100%;
	margin: 0;
	padding: 0;
}

//original selectors
//.table-title, .row-title
%extend_2 {
	background: transparent !important;
	outline: 0;
	font-size: 1em;
}

::selection {
	background: black;
	color: white;
	text-shadow: none;
}
* {
	font-variant-ligatures: contextual no-historical-ligatures common-ligatures;
	color: #635c5c;
	border-color: rgba(0, 0, 0, 0.1);
	outline: none !important;
	font-family: Arial, sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 150%;
}
a {
	// background: rgba(yellow,0.1) !important;
	cursor: pointer;
	color: red !important;
	padding: 0 !important;
	&:hover {
		color: red !important;
		text-decoration: none;
	}
	&:active {
		color: red !important;
		text-decoration: none;
	}
	&:focus {
		color: red !important;
		text-decoration: none;
	}

	&.img {
		display: inline-table;
		background: none !important;
	    padding: 0 15px !important;
	}
}
p {
	font-size: 14px;
}
h1 {
	letter-spacing: 1px;
	font-size: 18px;
	text-transform: uppercase;
}
h2 {
	letter-spacing: 1px;
	font-size: 15px;
	text-transform: uppercase;
}
h3 {
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
}
h4 {
	font-size: 18px;
}

hr {
	border: none;
	border-top: 1px solid;
	border-color: rgba(0, 0, 0, 0.5);
}
html {
	box-sizing: border-box;
	overflow: auto;
	@extend %extend_1;
}
body {
	@extend %extend_1;
	font-size: 100%;
	#main.container {
		max-width: 1200px;
		margin-top: 5%;
		color: white;
		z-index: 9;
	}
}
.svg {
	fill: white;
}
.project-list {
	padding: 0;
	text-align: center;
	list-style: none;
	overflow: scroll;
	li {
		padding: 6px 0;
	}
}
.container {
	padding: 0 20px;
}
.bio {
	padding-bottom: 50px;
}
.home-list {
	color: inherit;
}
.home-thumb {
	background-size: cover;
	background-position: 50% 50%;
	padding: 0 !important;
	img:hover {
		box-shadow: 0 0 100px rgba(0, 0, 0, 0.75) !important;
		z-index: 99 !important;
	}
}
.work {
	list-style: none;
	color: inherit;
}
.site-link {
	padding: 10px 0;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.data {
	text-transform: capitalize;
}
.gallery {
	margin-top: 40px;
	img {
		padding: 15px 0;
	}
}
.project-nav {
	padding: 40px 0 0;
	a {
		display: block;
		width: 100%;
		padding: 8px 0;
		text-transform: capitalize;
	}
	.return {
		text-align: center;
	}
	.next {
		text-align: right;
	}
}
table {
	width: 100%;
	border-collapse: collapse;
}
.table-title {
	@extend %extend_2;
}
.row-title {
	@extend %extend_2;
}
.tg {
	border-collapse: collapse;
	border-spacing: 0;
}
tr {
	padding: 10px 0;
	color: #635c5c;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	margin: -1px 0;
}
td {
	padding: 4px 4px 4px 0;
	text-align: left;
	&:nth-last-child(1) {
		text-align: right;
	}
	&:nth-last-child(2) {
		margin-bottom: 10px;
	}
	a {
		text-decoration: none;
		color: black !important;
		&:hover {
			color: red !important;
		}
	}
}
$sm: "screen and (max-width : 768px)";
@media #{$sm} {
	table {
		display: block;
	}
	thead {
		display: block;
		tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	tbody {
		display: block;
	}
	th {
		display: block;
	}
	td {
		display: block;
		padding: 0;
		&:before {
			position: absolute;
			top: 6px;
			left: 6px;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
		}
	}
	tr {
		display: block;
	}
	.table-title {
		padding-left: 0;
	}
	.row-title {
		padding-left: 0;
	}
	.data-sect {
		display: none;
	}
	.dropdown {
		width: 100%;
	}
}
footer div ul * {
	font-weight: normal;
}
.list-link a {
	width: 100%;
	padding: 10px 4px;
	line-height: 125%;
	text-transform: capitalize;
}
.project-head a {
	padding-right: 15px;
}
.data * {
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
	text-decoration: none;
	border: none;
}