/*******************************************/
/*/ PARTIALS /*/
/*******************************************/

/***********************/
/*/ nav /*/

#menu {
	font-size: 100% !important;
	text-align: right;
	height: 60px;
}

.link, .dropdown, .link:active, .dropdown:active {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.link {
	display: inline-block;
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	color: white;
	z-index: 99999;
}

	.link:before {
		content: "Menu";
	}

	.link:hover {
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-color: inherit;
		color: inherit;
		text-decoration: none;
	}

	.link-bg {
		background: white;
		color: rgb(185, 185, 175);
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-color: inherit;
	}

.rotate {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dropdown {
	position: absolute;
	display: none;
	background: white;
	width: 320px;
	top: 60px;
	right: 0;
	z-index: 999;
	overflow: scroll;
	box-shadow: 0 35px 150px rgba(0,0,0,0.45);
}

	.dropdown > div {
		margin: 0 auto;
		width: 90%;
	}

.active {
	display: inline-block !important;
}

.menu-list {
	width: 100%;
	padding: 0;
	list-style: none;
}


/***********************/
/*/ footer /*/

footer {
	margin-top: 5%;
}
	footer div {
		padding: 6px 0;
	}

		footer div ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

footer * h3 {
	margin-bottom: 20px;
}

.about h4 {
	margin-bottom: 8px;
}

.edes-foot {
	text-align: right;
}