/****************************************************************************
CSS RESET
****************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%; vertical-align: baseline;}

/****************************************************************************
BASIC
****************************************************************************/
html{height:100%;}

body{ 
	background-color: rgb(250, 195, 56); 
	font: 11px Cousine, Helvetica, sans-serif; 
	overflow-x:hidden; }

h1{
	color: white;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 2em;
	font-weight: bolder;
	letter-spacing: 2px;
	text-align: left;
	margin-left: 10.3%;
	margin-top: 8%;
}

h2{ font-size:24px;}

h3 {
	color: white;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 1em;
	letter-spacing: 0.5px;
	text-align: left;
	margin-left: 4%;
}

/****************************************************************************
HEADERS
****************************************************************************/

.header-wrapper header h1 {
	color: rgba(0,0,0,0.5); 
	font-family: Verdana, Helvetica,sans-serif; 
	font-weight:900; 
	letter-spacing: 5px; 
	font-size: 1.5em;
	text-align: left;
	margin-left: 50px;
	margin-top: 100px;
	line-height: 70px;
}

.header-wrapper header > p{color:42,24,234,1; font:15px Arial, Helvetica,sans-serif; margin-bottom:136px;}
.header-main header { max-height: 520px; padding: 0px 0px 0px; max-width: 1024px; }
.header-wrapper { width: 100%; height: auto;  }
.header-top { width: 100%; height: 100%; position: center; margin-bottom:-53px;  }
.header-page{height:100%; max-height:500px;}

/****************************************************************************
MAIN NAVIGATION
****************************************************************************/

.content { 
max-height: cover;
margin: 0px auto; 
background-color: white; 
background-size: cover;
}
.content > h1{
	color: black;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 3em;
	font-weight: bolder;
	letter-spacing: 2px;
}

.content > h1 span 
{background-color: white; 
background-size: cover;}

/****************************************************************************/

#images {
	text-align: center;
	font-size: 0;
	background-color: rgba(0,0,0,0);
	transition:opacity 2s linear;
	-webkit-transition:opacity 0.5s linear;
	-o-transition:opacity 0.5s linear;
	-moz-transition:opacity 0.5s linear;
	-ms-transition:opacity 0.5s linear;
}

#images:hover {
	cursor:pointer;
}

/****************************************************************************/

.body > h1{
	color: black;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 3em;
	font-weight: bolder;
	letter-spacing: 2px;
}
	
.body { text-align: center; }

.body p {
	margin: 20px 200px 150px 200px !important;
	font:0.7em Verdana, Arial, Helvetica,sans-serif; 
	font-weight: 200;
	font-size: 1em;
	line-height: 15px;
	color:white; 
	letter-spacing: 1px;
	text-align: left;
	margin-left: 10%;
	padding-bottom: 2%;
	border-bottom: 2px solid white;
}


.hidden {
    position: absolute;
    top: -9999999px;
}

#bottommark {
    position: absolute;
    bottom: 0;
}

#animation { 
background-repeat: no-repeat;
position: fixed;
top: 0;
width: 100%;
margin: 0 auto;
}

body, html {height: 15000px; margin: 0;}