hr
.pure-u-1-1.pure-u-md-1-3.contact
	h3 contact
	ul
		li edwardessing@gmail.com
		li +61 488 201 202

.pure-u-1-1.pure-u-md-2-3.about
	h3 about
	p
		| Design and development. Sydney based.
	h4 education
	table.tg
		tr.post-data
			td University of Technology, Sydney
			td B.Des. in Visual Communication 
			td 
			td 2011 — 2013
		tr.post-data
			td Central Saint Martins, London 
			td Visual Communication
			td 
			td 2013
	h4 employment
	table
		tr
			td
				a(href="http://www.hulsbosch.com.au/" target="_blank") Hulsbosch
			td Sydney
			td Design intern
			td 2015
		tr
			td
				a(href="http://codesource.com.au/" target="_blank") Codesource
			td Sydney
			td Designer and developer
			td 2015
		tr
			td 
				a(href="http://taoscreative.com.au/" target="_blank") Taos Creative
			td Sydney
			td Junior designer
			td 2014 — 2015
		tr
			td 
				a(href="http://www.auroracomms.com/" target="_blank") Aurora Communications 
			td London
			td Junior designer 
			td 2013
		tr
			td 
				a(href="http://courtesyoftheartist.com.au/" target="_blank") Courtesy of the Artist / Metalab 
			td Sydney
			td Design intern
			td 2013
		tr
			td 
				a(href="http://studio-alte.com.au/" target="_blank") Studio Alté 
			td Sydney
			td Design intern
			td 2012 — 2013
		tr
			td 
				a(href="http://www.cancercouncil.com.au/" target="_blank") Cancer Council NSW
			td Sydney
			td Design intern
			td 2012
br
.pure-u-1.edes-foot
	br
	h4 Edward Essing ◆ 2015
