/*** CSS ***/

* {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  margin: 0;
  padding: 0;
  cursor: url('../img/pit/retical.png') 37.5 5, crosshair;
}

/* type */

h1 {
  font: 20px/200px 'Monaco', Monospace;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #0f0;
  text-align: center;
}

h2 {
  font: 14px/14px 'Monaco', Monospace;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #0f0;
  text-align: center;
}

h3 {
  font: 9px/20px 'Monaco', Monospace;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #0f0;
}

/* MENU */

#menu {
    z-index: 9;
    bottom: 0;
}

.link {
  z-index: 9999;
  position: fixed;
  left: 10px;
  color: #0f0;
}
  .link:hover, .link:active {
    color: #0f0;
    cursor: pointer;
  }

.dropdown {
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  width: 25%;
  float: left;
  padding: 20px;
  bottom: 0;
  z-index: 9;
  border-top: 1px solid #0f0;
  overflow: scroll;
  display: none;
  cursor: auto;
}
  .dropdown.active {
    display: block;
  }

.dropdown ul {
  float: left;
  width: 49%;
  padding: 0 5px;
}

  .dropdown ul li {
    font: 10px/20px 'Monaco', Monospace;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #0f0;
    list-style: none;
  }

/* buttons */

.swt, .menu-but, .bg {
  background-color: transparent;
  display: inline;
  padding: 4px;
  font: 10px/30px 'Monaco', Monospace;
  letter-spacing: 2px;
  color: #0f0;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
  .act-but {
    border-top: 1px solid #0f0;
    border-right: 1px solid #0f0;
    color: #0f0;
    text-decoration: none;
    cursor: pointer;
    outline:0;
  }
  .reset { border: none; }
  .reset:hover { 
    text-decoration: underline;
    cursor: pointer;
  }
  .menu-but {
    position: absolute;
    bottom: 0;
    font-size: 8px;
  }
    .menu-but:hover {
      text-decoration: underline;
    }

#styleSwitch {
  max-width: 200px;
}
  .bg { padding: 2px 6px; }
  .bg:active, .bg:focus { outline: 1px solid #0f0; }

.act-no { display: none; }

#bg {
  background: transparent;
  border: none;
  color: #0f0;
  font: 10px/20px 'Monaco', Monospace;
  outline: none;
}

/* home */

.sky-log {
  position: absolute;
  height: 70%;
  max-height: 400px;
  padding: 5%;
}

.sky-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

  .landing {
    position: absolute;
    background: url("../img/lnd/bg_1.jpg") 50% 50%;
    background-repeat: repeat !important;
    background-position: center;
    background-size: cover !important;
    width: 150%;
    height: 150%;
  }
    .b1 { background: url("../img/lnd/bg_1.jpg") 50% 50%; }
    .b2 { background: url("../img/lnd/bg_2.jpg") 50% 50%; }
    .b3 { background: url("../img/lnd/bg_3.jpg") 50% 50%; }
    .b4 { background: url("../img/lnd/bg_4.jpg") 50% 50%; }
    .b5 { background: url("../img/lnd/bg_5.jpg") 50% 50%; }

/* pit */

.pit {
  position: fixed;
  background-size: contain !important;
  width: 85% !important;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

  .scr { background: url(../img/pit/pit-scr.png) 50% 50% no-repeat; }
  .jaw { background: url(../img/pit/pit-jaw.png) 50% 50% no-repeat; }

.stats {
  position: absolute;
  height: 10%;
  width: 50%;
  top: 0;
  bottom: 0;
  margin: auto 10%;
  text-align: left;
  font: 8px/16px 'Monaco', Monospace;
  text-transform: uppercase;
  color: #0f0;
}

.line {
  position: absolute;
  background: #0f0;
  opacity: 0.35;
  -webkit-transition: opacity 0.5s ease; 
  -moz-transition: opacity 0.5s ease; 
  -o-transition: opacity 0.5s ease; 
  transition: opacity 0.5s ease;
}
  .hori { width: 100%; height: 1px; }
  .vert { height: 100%; width: 1px; }

.light {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font: 10px/20px 'Helvetica', Monospace;
  text-transform: uppercase;
  color: #0f0;
}

/* clouds */

/*
.clouds {
  position: absolute;
  background-size: contain !important;
  background-repeat: repeat !important;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 0.5;
}

  .clouds.n1 { background: url(../img/lnd/cl-1.png) 50% 50%; }
  .clouds.n2 { background: url(../img/lnd/cl-2.png) 50% 50%; }
  .clouds.n3 { background: url(../img/lnd/cl-3.png) 50% 50%; }
  .clouds.n4 { background: url(../img/lnd/cl-4.png) 50% 50%; }
*/

/** responsive **/

@media screen and (max-device-width: 800px) {
}

@media screen and (max-width: 800px) {
  .dropdown {
    width: 100%;
    height: 100%;
  }
}