.row
	hr
	.col-sm-6.col-md-5
		h3 about
		p Art, design and development. Sydney based.
		br
		a(href="http://art.edwardessing.com/")For my art visit art.edwardessing.com.
		h3 contact
		p edwardessing@gmail.com
		p +61 488 201 202

	.col-sm-6.col-md-7.about
		h3 education
		table.tg
			tr.post-data
				td University of Technology, Sydney
				td B.Des. in Visual Communication
				td
				td 2011 — 2013
			tr.post-data
				td Central Saint Martins, London
				td Visual Communication
				td
				td 2013
		h3 employment
		table
			tr
				td
					a(href="http://www.lenovo.com/au" target="_blank") Lenovo
				td Sydney
				td Designer
				td 2015 —
			tr
				td
					a(href="http://www.hulsbosch.com.au/" target="_blank") Hulsbosch
				td Sydney
				td Design intern
				td 2015
			tr
				td
					a(href="http://codesource.com.au/" target="_blank") Codesource
				td Sydney
				td Designer and developer
				td 2015
			tr
				td
					a(href="http://taoscreative.com.au/" target="_blank") Taos Creative
				td Sydney
				td Junior designer
				td 2014 — 2015
			tr
				td
					a(href="http://www.auroracomms.com/" target="_blank") Aurora Communications
				td London
				td Junior designer
				td 2013
			tr
				td
					a(href="http://courtesyoftheartist.com.au/" target="_blank") Courtesy of the Artist / Metalab
				td Sydney
				td Design intern
				td 2013
			tr
				td
					a(href="http://studio-alte.com.au/" target="_blank") Studio Alté
				td Sydney
				td Design intern
				td 2012 — 2013
			tr
				td
					a(href="http://www.cancercouncil.com.au/" target="_blank") Cancer Council NSW
				td Sydney
				td Design intern
				td 2012
	br
	.col-xs-12.edes-foot
		br
		h4 Edward Essing ◆ <script>document.write(new Date().getFullYear())</script>
