.project-nav.row
	.prev.col-xs-4
		if previous
			a(href='/' + previous.path, title="#{ previous.title }")
				span ←
				= previous.title
				//- span #{ prev.title }

	.return.col-xs-4
		a(href='/') home

	.next.col-xs-4
		if next
			a(href='/' + next.path, title="#{ next.title }")
				= next.title
				span →
				//- span #{ next.title }