extends ./partials/_layout

block content
	section.project.row
		.col-xs-12
			h1.project-head
				a(href='/')
					span ↩
				= title
		.row
			.col-md-6
				.col-xs-12.col-md-2.data
					p(style='font-size:12px;')= date
					p(style='font-size:12px; margin-top:10px;')= tag
					br

				.col-xs-12.col-md-10.info(style='margin-top:0')
					if link
						a.site-link(href=link target='_blank') Link
					else
					p!= contents

	.gallery.row
		each image in images
			.col-sm-12.col-md-6: img.img-responsive(src='/' + image)

	include ./partials/_project-nav