section.work.pure-g
	.pure-u-1-1
		h1.post-head
			a(href='/') 
				span ↩
			= title
	.data.pure-u-1.pure-u-md-1-8
		ul
			li
				h2= date
			li
				h2= tag

			if link
				li.site-link
					a(href= link target='_blank') Link
						img.svg.ext-link(src='/assets/img/link.svg');
			else

	.data.pure-u-1.pure-u-md-7-8
		p.info= info

	.gallery
		!= yield
	!= partial('../_partials/post-nav')
