section.work.row
	.col-xs-12
		h1.post-head
			a(href='/') 
				span ↩
			= title
	.data.col-xs-12.col-md-2
		ul
			li
				h2= date
			li
				h2= tag

			if link
				li.site-link
					a(href= link target='_blank') Link
						img.svg.ext-link(src='/assets/img/link.svg');
			else

	.data.col-xs-12.col-md-10
		p.info= info

	.gallery.container
		!= yield
	!= partial('../_partials/post-nav')